{% extends "::base.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block menugauche %}
    <h3>Les annonces</h3>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('oc_platform_accueil') }}">La plateforme d'annonce</a></li>
        <li><a href="{{ path('core_contact') }}">Contactez-nous</a></li>
    </ul>
{% endblock %}
{% block body %}
    Bienvenue sur la page d'accueil !

    <h2>Liste des annonces</h2>
    <ul>
        {% for annonce in annonces %}
            <li>
                <a href="{{ path('oc_platform_voir', {'id_annonce': annonce.id_annonce}) }}"> {{ annonce.titre }}</a>
                par {{ annonce.auteur }}
                le {{ annonce.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas encore d'annonce(s)</li>
        {% endfor %}
    </ul>

{% endblock %}